fastapi
uvicorn[standard]
jinja2
python-multipart
# firebase-admin # REMOVED - Not using Firebase Auth
SQLAlchemy
psycopg2-binary # For PostgreSQL
google-cloud-sql-python-connector # For Cloud SQL connection
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
email-validator
python-dotenv