{% include 'partials/header.html' %}

<section>
    <h2>Welcome to Your Personal Budget Tracker!</h2>
    <p>Take control of your finances with our simple and intuitive app.</p>
    <p>Please <a href="{{ url_for('login_page') }}">login</a> or register to get started.</p>
    <!-- More marketing content or features overview can go here -->
</section>

<div id="firebaseui-auth-container"></div> <!-- If using FirebaseUI -->
<div id="loader">Loading...</div> <!-- For FirebaseUI loading state -->


{% include 'partials/footer.html' %} 